<!DOCTYPE html>
<html>
  <head>
    <!-- Shows up in Browser Tab -->
    <title>SoundOcean - Hear the SoundWaves</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Meta Tags for LinkedIn Post Inspector -->
    <meta name="image" property='og:image' content="<%= image_url('SoundOcean_v1.png') %>"/>
    <meta property="og:description"
      content="A simple and elegant SoundCloud clone."
    />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <!-- Cole's Way -->
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


